
<div>


<br>
<br>
<br>
<br>
<br>
<br>
<footer>



    <p>Webpage created by: Youngjo Kim</p>
    <p>Contact information: <a href="mailto:youngjo000@gmail.com"> youngjo000@gmail.com</a></p>

    
</footer>

<p><strong>ABOUT:</strong> </p>



</div>






