<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-
   Compatible" content="ie=edge">
   <title>FileUpLoad</title>

   <% include ../inc/header.ejs %>
   <% include ../inc/navbar.ejs %>
<style>

.jumbotron {
   background-color: lightblue;
}


</style>
</head>
<body>

   <div class="container-fluid">
      <div class="jumbotron"> 

<h1>Fileupload Test</h1>

</div>
<br>

<form action="/test/fileupload" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar">
    <input type="submit" value="upload">

</form>


   <script>

   </script>


</div>
<% include ../inc/footer.ejs %>
</body>
</html>
